body {
    margin: 0 auto;
    max-width: 410px;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: rgb(235, 232, 232);
}

nav {
    padding: 4em 1.5em;
    background-color: #6c63cf;
}

h1, h6{
    margin: 0;
}

h1{
    font-size: 2rem;
}
h6{
    border-bottom: 1px solid #ffffff;
    opacity: 0.9;
    cursor: pointer;
    
}

nav > .heading {
display: flex;
justify-content: space-between;
color: #ffffff;
align-items: center;
}

.box{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    max-width: 390px;
    height: 30px;
    padding: 5px 10px;
    background-color: #f3f3f3;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0px 5px 20px  rgb(197, 197, 197);
    /*Pushes results below search bar to remain visible*/
    margin-bottom:1em;
}


.box input {
    outline: none;
    border: none;
    background: transparent;
    font-size: 16px;
    color: rgb(48, 47, 47);
} 

.start-display{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(82, 81, 81);
    padding-left: 0.3em;
    margin: 0 auto;
}
.large {
    font-size: 60px;
}

 .img {
    height: 130px;
    width: 85px;
    display: block;
    margin: 0;
 }
.results-container {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
    height: 100%;

}
 .result-type, .result-year {
    font-size: 12px;
    margin-left: 1em;
 }

 /* .results-text {
    border: 1px solid red;
 } */
 
 .result-title {
    color: #6c63cf;
    font-weight: bold;
    margin-left: 1em;
 }
 
 .add-movie {
    margin-left: 2.5em;
    color: #ffffff;
    background-color: #6c63cf;
    padding: 0.3em 0.3em;
    border-radius: 5px;
    letter-spacing: 0.1em;
 }