body {
    margin: 0 auto;
    max-width: 410px;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: rgb(235, 232, 232);
}

nav {
    padding: 3.5em 1.2em;
    background-color: #6c63cf;
    /* background: url('pexels-pavel-danilyuk-7234213.jpg'); */
    background-size: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h6{
    margin: 0;
    text-shadow: 0 0 20px #aaaaaa;
}

h1{
    font-size: 2rem;
}
h6{
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
    letter-spacing: 0.1em;
    font-weight: bold;
}

nav > .heading {
display: flex;
justify-content: space-between;
align-items: center;
color: #ffffff;
}

.box{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    max-width: 390px;
    height: 30px;
    padding: 5px 10px;
    background-color: #f3f3f3;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0px 5px 20px  rgb(197, 197, 197);
    /*Pushes results below search bar to remain visible*/
    margin-bottom:1em;
}


.box input {
    outline: none;
    border: none;
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    color: #5c5c5c;
    width: 100%;
    height: 100%;
} 

.start-display{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #5c5c5c;
    padding-left: 0.3em;
    margin: 0 auto ;
}
.large {
    font-size: 60px;
}

 .img {
    height: 150px;
    width: 95px;
    margin: auto 0;
    display: flex;
    align-items: center;
 }
.results-container {
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 0.5em;
    height: 100%;
    padding-bottom: 0.5em;

}

 .result-plot, .result-runtime {
    font-size: 11px;
    margin-left: 1em;
    font-weight: 600;
    letter-spacing: 0.1em;
 }
.result-plot {
    margin: 1.5em 0 2.5em 1em;
}


 .result-title {
    color: #6c63cf;
    font-weight: bold;
    margin: 0.5em 0 0 1em;
    font-size: 1.1rem;
 }
 
 .add-movie {
    margin-left: 5.5em;
    color: #ffffff;
    background-color: #6c63cf;
    padding: 0.3em 0.5em;
    border-radius: 5px;
    letter-spacing: 0.15em;
    font-size: 0.65rem;
    cursor: pointer;
 }

 .add-movie:hover {
    background-color: #ffffff;
    color: #6c63cf;
 }

 .fa-magnifying-glass{
    color: #6c63cf;
    padding: 0.5em;
 }

.watchlist-added {
    background-color: #ffffff;
    color: #6c63cf;
}

.fa-film {
    margin-top: 2em;
}
.empty-display {
    margin: auto auto;
    font-size: 1.35rem;
}