body {
    margin: 0 auto;
    max-width: 410px;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: rgb(235, 232, 232);
}

nav {
    padding: 4em 1.5em;
    background-color: #6c63cf;
}

h1, h6{
    margin: 0;
}

h1{
    font-size: 2rem;
}
h6{
    border-bottom: 1px solid #ffffff;
    opacity: 0.9;
    cursor: pointer;
    
}

nav > .heading {
display: flex;
justify-content: space-between;
color: #ffffff;
align-items: center;
}

.box{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    max-width: 390px;
    height: 30px;
    padding: 5px 10px;
    background-color: #f3f3f3;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0px 5px 20px  rgb(197, 197, 197);
    /*Pushes results below search bar to remain visible*/
    margin-bottom:0;
}


.box input {
    outline: none;
    border: none;
    background: transparent;
    font-size: 14px;
    color: rgb(48, 47, 47);
} 

.start-display{
    opacity: 0.55;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.large {
    font-size: 60px;
}

 .img {
    height: 130px;
    width: 85px;
 }